<p id="notice"><%= notice %></p>

<h1>Backups</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @backups.each do |backup| %>
      <tr>
        <td><%= link_to 'Show', backup %></td>
        <td><%= link_to 'Edit', edit_backup_path(backup) %></td>
        <td><%= link_to 'Destroy', backup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Backup', new_backup_path %>
