<%= form_with(model: watcher) do |form| %>
  <% if watcher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(watcher.errors.count, "error") %> prohibited this watcher from being saved:</h2>

      <ul>
        <% watcher.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <p>Example format: <code>spotify:playlist:37i9dQZF1DXbtuVQL4zoey</code></p>
    <%= form.text_field :playlist_id, placeholder: "Enter Spotify URI or Playlist ID", required: true, pattern: "[0-9A-Za-z\:]+" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
