<%= form_tag(playlists_path, method: :get) do %>
  <%= text_field_tag(:q, params[:q]) %>
  <%= submit_tag("Search") %>
<% end %>

<% @albums.each do |album| %>
  <p>
    <%= album.name %>
  </p>
  <ol>
  <% album.tracks.each do |track| %>
    <li>
      <%= track.name %>
    </li>
  <% end %>
  </ol>
<% end %>
