<%- Playlists::PlaylistShowView.new(@playlist).tap do |view| %>
  <div class="mb2">
    <%= link_to 'Home', playlists_path %>
  </div>
  <%= render 'components/alert' %>

  <% if view.show_syncing? %>
    Syncing... Refresh the page sometime.
  <% else %>
    <h3>
      <%= view.playlist_name %>
    </h3>

    <% if view.show_backup_button? %>
      <%= button_to 'Backup', backup_playlist_path(params[:spotify_id]), method: :post, class: "f6 link dim ph3 pv2 mb2 dib white bg-black" %>
    <% else %>
      <%= "First synced at #{view.playlist_backup_date}" %>
    <% end %>
    <table>
      <thead>
        <tr>
          <th>
            Track
          </th>
          <th>
            Artists
          </th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'playlists/show/track', collection: view.tracks, as: :track %>
      </tbody>
    </table>
  <% end %>
<% end %>
